# Build files
*.o
*.elf
*.bin
build/

# Logs
*.log

# Arduino generated
*.ino.cpp
*.hex
*.eep

# Editor
.vscode/

# OS files
.DS_Store
Thumbs.db

# Junction - not tracked in git
examples/BraccioLib_Example/src